services:
  time_api:
    container_name: time-api-container
    build:
      context: ..
      dockerfile: src/Time.Api/Dockerfile
    restart: unless-stopped    
    networks:
      - public-network
    labels:      
      - "traefik.enable=true"      
      - "traefik.http.routers.time_api.rule=Host(`api.cloud-platform.pro`)"      
      - "traefik.http.routers.time_api.entrypoints=websecure"      
      - "traefik.http.routers.time_api.tls.certresolver=letsencrypt"     
      - "traefik.http.services.time_api.loadbalancer.server.port=8080"

networks:
  public-network:
    external: true