services:
  time_api:
    container_name: time-api-container
    build:
      context: ..
      dockerfile: src/Time.Api/Dockerfile
    restart: unless-stopped    
    networks:
      - public-network
    labels:      
      - "traefik.enable=true"      
      - "traefik.http.routers.time-api.rule=Host(`api.cloud-platform.pro`) && PathPrefix(`/time`)"      
      - "traefik.http.routers.time-api.entrypoints=websecure"      
      - "traefik.http.routers.time-api.tls.certresolver=letsencrypt"     
      - "traefik.http.services.time-api.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.time-stripprefix.stripprefix.prefixes=/time"
      - "traefik.http.routers.time-api.middlewares=time-stripprefix"

networks:
  public-network:
    external: true